<footer class="bg-black text-white flex justify-evenly py-16 h-[30vh]">
  <div class="flex flex-col justify-between">
    <div>
      <img src="../../assets/images/logo.svg" alt="logo">
    </div>
    <div class="flex justify-between">
      <img src="../../assets/images/icon-facebook.svg" alt="social-media">
      <img src="../../assets/images/icon-youtube.svg" alt="social-media">
      <img src="../../assets/images/icon-twitter.svg" alt="social-media">
      <img src="../../assets/images/icon-pinterest.svg" alt="social-media">
      <img src="../../assets/images/icon-instagram.svg" alt="social-media">
    </div>
  </div>
  <div class="flex justify-between w-[400px]">
    <div class="flex flex-col justify-between [&_span]:h-2">
      <span>
        Home
      </span>
      <span>
        Pricing
      </span>
      <span>
        Produts
      </span>
      <span>
        About Us
      </span>
    </div>
    <div class="flex flex-col justify-between [&_span]:h-2">
      <span>
        Careers
      </span>
      <span>
        Community
      </span>
      <span>
        Privacy Policy
      </span>
      <span>
        
      </span>
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <div>
      <input type="text" placeholder="Updates in your inbox…" class="rounded-3xl px-4 py-2 mx-2"> <button  class="rounded-3xl bg-orange-600 px-4 py-2 text-sm">Go</button>
    </div>
    <div>
      <p class="text-sm text-right">Copyright 2020. All Rights Reserved</p>
    </div>
  </div>
</footer>