<footer class="flex flex-col items-center bg-neutral-very-dark-blue text-neutral-dark-graysih-blue h-[40vh] justify-between py-4">
  <div>
    <input type="text" placeholder="Updates in your inbox…" class="rounded-3xl px-4 py-3 mx-2 text-[12px]"> 
    <button  class="rounded-3xl bg-primary-red-color text-neutral-very-light-gray px-4 py-2 text-sm">Go</button>
  </div>
  <div class="flex justify-between w-[400px] max-[375px]:w-[300px]">
    <div class="flex flex-col justify-between">
      <p>
        Home
      </p>
      <p>
        Pricing
      </p>
      <p>
        Produts
      </p>
      <p>
        About Us
      </p>
    </div>
    <div class="flex flex-col justify-between">
      <p>
        Careers
      </p>
      <p>
        Community
      </p>
      <p>
        Privacy Policy
      </p>
      <p>
        
      </p>
    </div>
  </div>
  <div class="flex justify-between w-[40%]">
    <img class="w-[32px]" src="../../assets/images/icon-facebook.svg" alt="social-media">
    <img class="w-[32px]" src="../../assets/images/icon-youtube.svg" alt="social-media">
    <img class="w-[32px]" src="../../assets/images/icon-twitter.svg" alt="social-media">
    <img class="w-[32px]" src="../../assets/images/icon-pinterest.svg" alt="social-media">
    <img class="w-[32px]" src="../../assets/images/icon-instagram.svg" alt="social-media">
  </div>
  <div>
    <img src="../../assets/images/logo.svg" alt="logo">
  </div>
  <div>
    <p class="text-sm">Copyright 2020. All Rights Reserved</p>
  </div>
</footer>