<section class="flex justify-around items-center p-12 relative z-10 flex-wrap-reverse">
  <div class="w-[350px] max-[1024px]:w-[550px]">
    <div>
      <h1 class="font-bold text-3xl text-primary-dark-blue max-[1024px]:text-center max-[1024px]:text-5xl">Bring everyone tohether to build better products.</h1>
    </div>
    <div class="my-10">
      <p class="text-neutral-dark-graysih-blue max-[1024px]:text-center">
        Manage makes it simple for software teams to plan day-to-day 
        tasks while keeping the larger team goals in view.
      </p>
    </div>
    <div class="max-[1024px]:flex max-[1024px]:justify-center">
      <button class="bg-primary-red-color text-neutral-very-light-gray rounded-3xl px-8 py-2">
        Get Started
      </button>
    </div>
  </div>
  <div>
    <img src="../../assets/images/illustration-intro.svg" alt="">
  </div>
</section>