<swiper-container class="mySwiper" space-between="40" slides-per-view="3" loop="true" autoplay-delay="2500"> 
  <swiper-slide class="py-14">
    <div class="w-[500px] text-center bg-neutral-very-light-gray relative h-[230px] flex flex-col justify-evenly">
      <div>
        <img src="../../assets/images/avatar-ali.png" alt="avatar" class="absolute top-[-40%] left-[50%] translate-y-[40%] translate-x-[-50%] w-[100px]">
      </div>
      <div>
        <h4 class="font-bold text-primary-dark-blue">Ali Bravo</h4>
      </div>
      <div>
        <p class="text-neutral-dark-graysih-blue">
          “We have been able to cancel so many other subscriptions since using 
          Manage. There is no more cross-channel confusion and everyone is much 
          more focused.”        
        </p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="relative z-[10] py-14">
    <div class="w-[500px] text-center bg-neutral-very-light-gray relative h-[230px] flex flex-col justify-evenly">
      <div>
        <img src="../../assets/images/avatar-anisha.png" alt="avatar" class="absolute top-[-40%] left-[50%] translate-y-[40%] translate-x-[-50%] w-[100px]">
      </div>
      <div>
        <h4 class="font-bold text-primary-dark-blue">Anisha Li</h4>
      </div>
      <div>
        <p class="text-neutral-dark-graysih-blue">
          “Manage has supercharged our team’s workflow. The ability to maintain 
          visibility on larger milestones at all times keeps everyone motivated.”      
        </p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="relative z-[10] py-14">
    <div class="w-[500px] text-center bg-neutral-very-light-gray relative h-[230px] flex flex-col justify-evenly">
      <div>
        <img src="../../assets/images/avatar-richard.png" alt="avatar" class="absolute top-[-40%] left-[50%] translate-y-[40%] translate-x-[-50%] w-[100px]">
      </div>
      <div>
        <h4 class="font-bold text-primary-dark-blue">Richard Watts</h4>
      </div>
      <div>
        <p class="text-neutral-dark-graysih-blue">
          “Manage allows us to provide structure and process. It keeps us organized 
          and focused. I can’t stop recommending them to everyone I talk to!      
        </p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="relative z-[10] py-14">
    <div class="w-[500px] text-center bg-neutral-very-light-gray relative h-[230px] flex flex-col justify-evenly">
      <div>
        <img src="../../assets/images/avatar-shanai.png" alt="avatar" class="absolute top-[-40%] left-[50%] translate-y-[40%] translate-x-[-50%] w-[100px]">
      </div>
      <div>
        <h4 class="font-bold text-primary-dark-blue">Shanai Gough</h4>
      </div>
      <div>
        <p class="text-neutral-dark-graysih-blue">
          “Their software allows us to track, manage and collaborate on our projects 
          from anywhere. It keeps the whole team in-sync without being intrusive.”    
        </p>
      </div>
    </div>
  </swiper-slide>
</swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
