<app-header />
<app-baner />
<app-section-one />
<app-section-two />
<app-section-three />
<app-footer />
<img src="../assets/images/bg-tablet-pattern.svg" class="absolute top-[-200px] right-[-100px]" alt="blob" srcset="">
<img src="../assets/images/bg-tablet-pattern.svg" class="absolute top-[1000px] left-[-500px]" alt="blob" srcset="">

  <!-- Anisha Li
  “Manage has supercharged our team’s workflow. The ability to maintain 
  visibility on larger milestones at all times keeps everyone motivated.”

  Richard Watts
  “Manage allows us to provide structure and process. It keeps us organized 
  and focused. I can’t stop recommending them to everyone I talk to!”

  Shanai Gough
  “Their software allows us to track, manage and collaborate on our projects 
  from anywhere. It keeps the whole team in-sync without being intrusive.” -->

  
  <!-- <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div> -->